
@property --profileBg {
    syntax: "<color>";
    inherits: false;
    initial-value: #E2F1E7;
}
@property --skillsBg {
    syntax: "<color>";
    inherits: false;
    initial-value: #243642;
}
@property --profileColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #387478;
}
@property --skillsColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #629584;
}
@property --linkColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #629584;
}
@property --boldColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #243642;
}

@property --bg {
    syntax: "<color>";
    inherits: false;
    initial-value: #232019;
}
@property --highlight {
    syntax: "<color>";
    inherits: false;
    initial-value: #9CCEFC;
}
@property --bg2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #382A1E;
}
@property --bg3 {
    syntax: "<color>";
    inherits: false;
    initial-value: #624D1D;
}
@property --bg4 {
    syntax: "<color>";
    inherits: false;
    initial-value: #474C12;
}
@property --txt {
    syntax: "<color>";
    inherits: false;
    initial-value: #F4D6B2;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Mono', 'Verdana', Arial, sans-serif;
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
}
body{
    background: var(--bg);
    color: var(--txt);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/cordoba_bg.jpg);
    background-size: cover;
    background-position: right;
}
.container{
    padding: 10px 10%;
}
#nav_bar{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    background: var(--bg4);
    border-radius: 15px;
}
nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--bg4);
    border-radius: 15px;
}
#footer {
    margin-top: 10%;
}
#footer nav ul{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    display: flex;
    align-items: right;
    justify-content: space-around;
}
/* .email{
    float: left;
    justify-self: left;
    color: var(--highlight);
} */
.logo{
    width: 140px;
    border-radius: 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--txt);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--bg4);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    background: var(--highlight);
}
.header-text{
    margin-top: 7%;
    font-size: 30px;
    background: var(--bg4);
    color: var(--txt);
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
    padding: 2%;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: var(--highlight);
}


#about{
    padding: 80px 0;
    color: var(--txt);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: var(--highlight);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--bg);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    background: var(--bg4);
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    color: var(--highlight);
    font-size: 16px;
    font-weight: bold;
}
.tab-contents ul li span.dates{
    color: var(--highlight);
    font-size: 16px;
    float: right;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.tab-contents ul.bullets{
    margin-left: 5%;
    font-size: 14px;
}
.tab-contents ul.bullets li{
    list-style: circle;
    margin: 10px 0;
}
.tab-contents ul.bullets li strong{
    color: var(--highlight);
    font-weight: normal;
}
/*-----portfolio------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    transition: height 0.5s;
    background: linear-gradient(rgba(0, 0, 0, 0.8), var(--bg4));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: left;
    font-size: 14px;

}
.layer h3{
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.work a{
    color: var(--highlight);
}

/* Projest subpages */
.project_title{
    margin: 5% 0;
    padding: 10px 10%;
    background: var(--bg4);
    border-radius: 15px;
}
.project_text {
    padding: 10px 10%;
    background: var(--bg4);
    border-radius: 15px;
}
